<div class="container" style="margin-top: 10%;">
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="card grey lighten-2" style="box-shadow: 5px 10px 18px #ce7979;">
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width tabs-transparent">
              <li class="tab">
                <a routerLink='/login' routerLinkActive='active'>Sign In</a>
              </li>
              <li class="tab">
                <a routerLink='/signup' routerLinkActive='active'>Sign Up</a>
              </li>
            </ul>
          </div>
          <div class="card-content white">
            <div class="row">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 25 mins of the video -->